*{
    box-sizing: border-box;
}
/* HEADER PROPERTIES========================================== */
.divs{
    display: flex; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
    padding: 1vw 1vw;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    justify-content: space-between;
    font-weight: 600;
}

/* BANNER PROPERTIES======================================== */
.list{
    flex-direction: column;
    align-items: center;
    
}
.big-text{
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: 1vw;
}

#banner p{
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1vw;
}
button{
    font-size: 2.1vw;
    background-color: teal;
    color: white;
    margin-bottom: 1vw;

}
   
.question{
    font-size: 1vw;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-center;
}

.correct{
    background-color: green;
}
.wrong{
    background-color: red;
}

.endDiv{
    margin-top: 11vw;
}

.endP{
    font-size: 2vw;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.endButton{
    font-size: 1.5vw;
    
}