*{
    box-sizing: border-box;
}
/* HEADER PROPERTIES========================================== */
.divs{
    display: flex; 
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1vw;
    padding: 1vw 1vw;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    justify-content: space-between;
    font-weight: 600;
}

.list{
    flex-direction: column;
    align-items: center;
    
}
.big-text{
    font-size: 2vw;
    font-weight: 900;
    margin-bottom: 1vw;
}

#banner p{
    font-size: 1.5vw;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1vw;
}
button{
    /* border-radius: 4%;s */
    font-size: 2.1vw;
    background-color: rgb(36, 35, 35);
    border: rgb(41, 5, 246) solid 0.3vw;
    color: rgb(211, 210, 200);
    margin-bottom: 1vw;

}
   
.question{
    font-size: 1vw;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-center;
}

.correct{
    background-color: green;
}
.wrong{
    background-color: red;
}

.endDiv{
    margin-top: 11vw;
}

.endP{
    color: rgb(29, 29, 110);
    font-size: 2vw;
    font-weight: 600;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.endButton{
    font-size: 1.5vw;
}

.highScores{
    margin-top: 11vw;
}

.hsbutton{
    margin-top: 3vw;
}

.body2{
    background-color: wheat;
}